<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT messageBoardPage ANY>
<!ATTLIST messageBoardPage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectMain ANY>
<!ATTLIST projectMain id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT aboutPage ANY>
<!ATTLIST aboutPage id ID #REQUIRED>
<!ELEMENT contactUsPage ANY>
<!ATTLIST contactUsPage id ID #REQUIRED>
<!ELEMENT comment ANY>
<!ATTLIST comment id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1070" key="5a62d601-5631-45ee-a31e-7bae021675fc" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-09-05T10:38:07" updateDate="2016-09-05T11:25:44" nodeName="Home Page" urlName="home-page" path="-1,1070" isDoc="" nodeType="1054" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1053" nodeTypeAlias="homePage">
    <metaKeywords><![CDATA[Home, homepage]]></metaKeywords>
    <metaDescription><![CDATA[This is the homepage of the website]]></metaDescription>
    <siteTitle><![CDATA[Welcome to Aarhus Web Development Consortium]]></siteTitle>
    <mainContent><![CDATA[<p>Welcome to our humble website. Please browse around.</p>]]></mainContent>
    <footer><![CDATA[This is footer of our page]]></footer>
    <articlesMain id="1071" key="7c774e47-565c-40af-a7a1-2a0669ed115a" parentID="1070" level="2" creatorID="0" sortOrder="0" createDate="2016-09-05T10:53:59" updateDate="2016-09-22T23:48:49" nodeName="Articles" urlName="articles" path="-1,1070,1071" isDoc="" nodeType="1058" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1057" nodeTypeAlias="articlesMain">
      <metaKeywords><![CDATA[Articles, news, page]]></metaKeywords>
      <metaDescription><![CDATA[This is the page showing our articles]]></metaDescription>
      <UmbracoNaviHide>1</UmbracoNaviHide>
      <articleTitle><![CDATA[Welcome to our archive of articles]]></articleTitle>
      <articlesBodyText><![CDATA[<p>You can browse through our articles by clicking on them below</p>]]></articlesBodyText>
      <articleItem id="1072" key="d2e0182d-7ac7-49b9-b8ee-39f1205d661c" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2016-09-05T11:00:01" updateDate="2016-09-16T11:08:18" nodeName="Software" urlName="software" path="-1,1070,1071,1072" isDoc="" nodeType="1061" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1060" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[Software, news, article]]></metaKeywords>
        <metaDescription><![CDATA[An article containing news of software]]></metaDescription>
        <articleContents><![CDATA[<p>Early in 1939, the world's scientific community discovered that German physicists had learned the secrets of splitting a uranium atom. Fears soon spread over the possibility of Nazi scientists utilizing that energy to produce a bomb capable of unspeakable destruction.</p>
<p>Scientists <span class="term">ALBERT EINSTEIN</span>, who fled Nazi persecution, and <span class="term">ENRICO FERMI</span>, who escaped Fascist Italy, were now living in the United States. They agreed that the President must be informed of the dangers of atomic technology in the hands of the Axis powers. Fermi traveled to Washington in March to express his concerns on government officials. But few shared his uneasiness.</p>
<p>Einstein penned a letter to President Roosevelt urging the development of an atomic research program later that year. Roosevelt saw neither the necessity nor the utility for such a project, but agreed to proceed slowly. In late 1941, the American effort to design and build an <span class="term">ATOMIC BOMB</span>received its code name — the <span class="term">MANHATTAN PROJECT</span>.</p>
<p>At first the research was based at only a few universities — Columbia University, the University of Chicago and the University of California at Berkeley. A breakthrough occurred in December 1942 when Fermi led a group of physicists to produce the first controlled <span class="term">NUCLEAR CHAIN REACTION</span> under the grandstands of <span class="term">STAGG FIELD</span> at the University of Chicago.</p>
<p>After this milestone, funds were allocated more freely, and the project advanced at breakneck speed. Nuclear facilities were built at Oak Ridge, Tennessee and Hanford, Washington. The main assembly plant was built at <span class="term">LOS ALAMOS, NEW MEXICO</span>. <span class="term">ROBERT OPPENHEIMER</span> was put in charge of putting the pieces together at Los Alamos. After the final bill was tallied, nearly $2 billion had been spent on research and development of the atomic bomb. The Manhattan Project employed over 120,000 Americans.</p>
<p>Secrecy was paramount. Neither the Germans nor the Japanese could learn of the project. Roosevelt and Churchill also agreed that the Stalin would be kept in the dark. Consequently, there was no public awareness or debate. Keeping 120,000 people quiet would be impossible; therefore only a small privileged cadre of inner scientists and officials knew about the atomic bomb's development. In fact, Vice-President Truman had never heard of the Manhattan Project until he became President Truman.</p>
<p>Although the Axis powers remained unaware of the efforts at Los Alamos, American leaders later learned that a Soviet spy named <span class="term">KLAUS FUCHS</span> had penetrated the inner circle of scientists.</p>
<p>.</p>]]></articleContents>
        <articleTitle><![CDATA[Software]]></articleTitle>
      </articleItem>
      <articleItem id="1073" key="df60ca8c-c630-494b-b852-f5f6f1e42da0" parentID="1071" level="3" creatorID="0" sortOrder="1" createDate="2016-09-05T11:00:58" updateDate="2016-09-16T11:08:24" nodeName="Hardware" urlName="hardware" path="-1,1070,1071,1073" isDoc="" nodeType="1061" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1060" nodeTypeAlias="articleItem">
        <metaKeywords><![CDATA[Hardware, news, article]]></metaKeywords>
        <metaDescription><![CDATA[This article contains news of hardware]]></metaDescription>
        <articleContents><![CDATA[<p>Early in 1939, the world's scientific community discovered that German physicists had learned the secrets of splitting a uranium atom. Fears soon spread over the possibility of Nazi scientists utilizing that energy to produce a bomb capable of unspeakable destruction.</p>
<p>Scientists <span class="term">ALBERT EINSTEIN</span>, who fled Nazi persecution, and <span class="term">ENRICO FERMI</span>, who escaped Fascist Italy, were now living in the United States. They agreed that the President must be informed of the dangers of atomic technology in the hands of the Axis powers. Fermi traveled to Washington in March to express his concerns on government officials. But few shared his uneasiness.</p>
<p>Einstein penned a letter to President Roosevelt urging the development of an atomic research program later that year. Roosevelt saw neither the necessity nor the utility for such a project, but agreed to proceed slowly. In late 1941, the American effort to design and build an <span class="term">ATOMIC BOMB</span>received its code name — the <span class="term">MANHATTAN PROJECT</span>.</p>
<p>At first the research was based at only a few universities — Columbia University, the University of Chicago and the University of California at Berkeley. A breakthrough occurred in December 1942 when Fermi led a group of physicists to produce the first controlled <span class="term">NUCLEAR CHAIN REACTION</span> under the grandstands of <span class="term">STAGG FIELD</span> at the University of Chicago.</p>
<p>After this milestone, funds were allocated more freely, and the project advanced at breakneck speed. Nuclear facilities were built at Oak Ridge, Tennessee and Hanford, Washington. The main assembly plant was built at <span class="term">LOS ALAMOS, NEW MEXICO</span>. <span class="term">ROBERT OPPENHEIMER</span> was put in charge of putting the pieces together at Los Alamos. After the final bill was tallied, nearly $2 billion had been spent on research and development of the atomic bomb. The Manhattan Project employed over 120,000 Americans.</p>
<p>Secrecy was paramount. Neither the Germans nor the Japanese could learn of the project. Roosevelt and Churchill also agreed that the Stalin would be kept in the dark. Consequently, there was no public awareness or debate. Keeping 120,000 people quiet would be impossible; therefore only a small privileged cadre of inner scientists and officials knew about the atomic bomb's development. In fact, Vice-President Truman had never heard of the Manhattan Project until he became President Truman.</p>
<p>Although the Axis powers remained unaware of the efforts at Los Alamos, American leaders later learned that a Soviet spy named <span class="term">KLAUS FUCHS</span> had penetrated the inner circle of scientists.</p>
<p>.</p>]]></articleContents>
        <articleTitle><![CDATA[Hardware]]></articleTitle>
      </articleItem>
    </articlesMain>
    <projectMain id="1074" key="df708033-5adc-452a-a78c-1854860cc934" parentID="1070" level="2" creatorID="0" sortOrder="1" createDate="2016-09-05T11:02:08" updateDate="2016-09-05T11:02:08" nodeName="Projects" urlName="projects" path="-1,1070,1074" isDoc="" nodeType="1065" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1064" nodeTypeAlias="projectMain">
      <metaKeywords><![CDATA[Project, projects]]></metaKeywords>
      <metaDescription><![CDATA[This page contains our projects]]></metaDescription>
      <projectsBodyText><![CDATA[<p>Below you can see our projects.</p>]]></projectsBodyText>
      <projectTitle><![CDATA[Welcome to our archieve of projects]]></projectTitle>
      <projectItem id="1075" key="fb635501-86f1-4785-8dab-b7d0abdca1de" parentID="1074" level="3" creatorID="0" sortOrder="0" createDate="2016-09-05T11:03:57" updateDate="2016-09-24T14:58:41" nodeName="A new website for Bruns Galleri" urlName="a-new-website-for-bruns-galleri" path="-1,1070,1074,1075" isDoc="" nodeType="1068" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1067" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Bruns galleri, Aarhus, website]]></metaKeywords>
        <metaDescription><![CDATA[This is a page that shows the process of the project for a new website for Bruns Galleri in Aarhus]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus><![CDATA[Completed]]></projectStatus>
        <projectImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1005/bruns-galleri.jpg"
}]]></projectImage>
        <projectTitle><![CDATA[Bruns Galleri]]></projectTitle>
        <projectContents><![CDATA[<p>Bruns Galleri has decided to update their current website. The "new" website will be focused on improving UI and UX. This is due to the amount of bad reviews they are receiving in emails from customers that have used their website as a portal to buy products. Bruns Galleri contacted our firm and after some hard work and many hours we have finally come to an end. </p>
<p>The website has been updated with our solution and we are waiting for feedback from their users. </p>]]></projectContents>
      </projectItem>
      <projectItem id="1076" key="5d00c103-0900-41f7-8a5b-5d185758bb46" parentID="1074" level="3" creatorID="0" sortOrder="1" createDate="2016-09-05T11:05:25" updateDate="2016-09-16T11:08:36" nodeName="A new website for Dokk1" urlName="a-new-website-for-dokk1" path="-1,1070,1074,1076" isDoc="" nodeType="1068" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1067" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[Dokk1, website, amazing]]></metaKeywords>
        <metaDescription><![CDATA[This page shows the process of our project for creating a new website for Dokk1]]></metaDescription>
        <projectStatus><![CDATA[Idea]]></projectStatus>
        <projectTitle><![CDATA[New website for Dokk1]]></projectTitle>
        <projectContents><![CDATA[<p>Early in 1939, the world's scientific community discovered that German physicists had learned the secrets of splitting a uranium atom. Fears soon spread over the possibility of Nazi scientists utilizing that energy to produce a bomb capable of unspeakable destruction.</p>
<p>Scientists <span class="term">ALBERT EINSTEIN</span>, who fled Nazi persecution, and <span class="term">ENRICO FERMI</span>, who escaped Fascist Italy, were now living in the United States. They agreed that the President must be informed of the dangers of atomic technology in the hands of the Axis powers. Fermi traveled to Washington in March to express his concerns on government officials. But few shared his uneasiness.</p>
<p>Einstein penned a letter to President Roosevelt urging the development of an atomic research program later that year. Roosevelt saw neither the necessity nor the utility for such a project, but agreed to proceed slowly. In late 1941, the American effort to design and build an <span class="term">ATOMIC BOMB</span>received its code name — the <span class="term">MANHATTAN PROJECT</span>.</p>
<p>At first the research was based at only a few universities — Columbia University, the University of Chicago and the University of California at Berkeley. A breakthrough occurred in December 1942 when Fermi led a group of physicists to produce the first controlled <span class="term">NUCLEAR CHAIN REACTION</span> under the grandstands of <span class="term">STAGG FIELD</span> at the University of Chicago.</p>
<p>After this milestone, funds were allocated more freely, and the project advanced at breakneck speed. Nuclear facilities were built at Oak Ridge, Tennessee and Hanford, Washington. The main assembly plant was built at <span class="term">LOS ALAMOS, NEW MEXICO</span>. <span class="term">ROBERT OPPENHEIMER</span> was put in charge of putting the pieces together at Los Alamos. After the final bill was tallied, nearly $2 billion had been spent on research and development of the atomic bomb. The Manhattan Project employed over 120,000 Americans.</p>
<p>Secrecy was paramount. Neither the Germans nor the Japanese could learn of the project. Roosevelt and Churchill also agreed that the Stalin would be kept in the dark. Consequently, there was no public awareness or debate. Keeping 120,000 people quiet would be impossible; therefore only a small privileged cadre of inner scientists and officials knew about the atomic bomb's development. In fact, Vice-President Truman had never heard of the Manhattan Project until he became President Truman.</p>
<p>Although the Axis powers remained unaware of the efforts at Los Alamos, American leaders later learned that a Soviet spy named <span class="term">KLAUS FUCHS</span> had penetrated the inner circle of scientists.</p>
<p>.</p>]]></projectContents>
      </projectItem>
      <projectItem id="1077" key="c6ec8e85-d077-4703-859a-0c23a54fd238" parentID="1074" level="3" creatorID="0" sortOrder="2" createDate="2016-09-05T11:06:53" updateDate="2016-09-16T11:08:43" nodeName="New logo for Erhvervsakademiet Viby J" urlName="new-logo-for-erhvervsakademiet-viby-j" path="-1,1070,1074,1077" isDoc="" nodeType="1068" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1067" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[New logo, logo, Erhvervsakademiet Viby J, Viby J]]></metaKeywords>
        <metaDescription><![CDATA[This contains the process of our design of a new logo for Erhvervsakademiet Viby J]]></metaDescription>
        <projectStatus><![CDATA[Underdevelopment]]></projectStatus>
        <projectTitle><![CDATA[New logo for Erhvervsakademiet Viby J]]></projectTitle>
        <projectContents><![CDATA[<p>Early in 1939, the world's scientific community discovered that German physicists had learned the secrets of splitting a uranium atom. Fears soon spread over the possibility of Nazi scientists utilizing that energy to produce a bomb capable of unspeakable destruction.</p>
<p>Scientists <span class="term">ALBERT EINSTEIN</span>, who fled Nazi persecution, and <span class="term">ENRICO FERMI</span>, who escaped Fascist Italy, were now living in the United States. They agreed that the President must be informed of the dangers of atomic technology in the hands of the Axis powers. Fermi traveled to Washington in March to express his concerns on government officials. But few shared his uneasiness.</p>
<p>Einstein penned a letter to President Roosevelt urging the development of an atomic research program later that year. Roosevelt saw neither the necessity nor the utility for such a project, but agreed to proceed slowly. In late 1941, the American effort to design and build an <span class="term">ATOMIC BOMB</span>received its code name — the <span class="term">MANHATTAN PROJECT</span>.</p>
<p>At first the research was based at only a few universities — Columbia University, the University of Chicago and the University of California at Berkeley. A breakthrough occurred in December 1942 when Fermi led a group of physicists to produce the first controlled <span class="term">NUCLEAR CHAIN REACTION</span> under the grandstands of <span class="term">STAGG FIELD</span> at the University of Chicago.</p>
<p>After this milestone, funds were allocated more freely, and the project advanced at breakneck speed. Nuclear facilities were built at Oak Ridge, Tennessee and Hanford, Washington. The main assembly plant was built at <span class="term">LOS ALAMOS, NEW MEXICO</span>. <span class="term">ROBERT OPPENHEIMER</span> was put in charge of putting the pieces together at Los Alamos. After the final bill was tallied, nearly $2 billion had been spent on research and development of the atomic bomb. The Manhattan Project employed over 120,000 Americans.</p>
<p>Secrecy was paramount. Neither the Germans nor the Japanese could learn of the project. Roosevelt and Churchill also agreed that the Stalin would be kept in the dark. Consequently, there was no public awareness or debate. Keeping 120,000 people quiet would be impossible; therefore only a small privileged cadre of inner scientists and officials knew about the atomic bomb's development. In fact, Vice-President Truman had never heard of the Manhattan Project until he became President Truman.</p>
<p>Although the Axis powers remained unaware of the efforts at Los Alamos, American leaders later learned that a Soviet spy named <span class="term">KLAUS FUCHS</span> had penetrated the inner circle of scientists.</p>
<p>.</p>]]></projectContents>
      </projectItem>
      <projectItem id="1094" key="e27f4e72-ec7f-4a77-b6fe-9ca3f0efddb3" parentID="1074" level="3" creatorID="0" sortOrder="3" createDate="2016-09-16T10:03:35" updateDate="2016-09-24T15:10:23" nodeName="Cafe X expands their website with takeout" urlName="cafe-x-expands-their-website-with-takeout" path="-1,1070,1074,1094" isDoc="" nodeType="1068" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1067" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[cafe x, website, takeout, new is always better]]></metaKeywords>
        <metaDescription><![CDATA[Cafe x, ]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus><![CDATA[Completed]]></projectStatus>
        <projectImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1006/bruns-galleri.jpg"
}]]></projectImage>
        <projectTitle><![CDATA[Cafe X expands their website with takeout]]></projectTitle>
        <projectContents><![CDATA[<p>Early in 1939, the world's scientific community discovered that German physicists had learned the secrets of splitting a uranium atom. Fears soon spread over the possibility of Nazi scientists utilizing that energy to produce a bomb capable of unspeakable destruction.</p>
<p>Scientists <span class="term">ALBERT EINSTEIN</span>, who fled Nazi persecution, and <span class="term">ENRICO FERMI</span>, who escaped Fascist Italy, were now living in the United States. They agreed that the President must be informed of the dangers of atomic technology in the hands of the Axis powers. Fermi traveled to Washington in March to express his concerns on government officials. But few shared his uneasiness.</p>
<p>Einstein penned a letter to President Roosevelt urging the development of an atomic research program later that year. Roosevelt saw neither the necessity nor the utility for such a project, but agreed to proceed slowly. In late 1941, the American effort to design and build an <span class="term">ATOMIC BOMB</span>received its code name — the <span class="term">MANHATTAN PROJECT</span>.</p>
<p>At first the research was based at only a few universities — Columbia University, the University of Chicago and the University of California at Berkeley. A breakthrough occurred in December 1942 when Fermi led a group of physicists to produce the first controlled <span class="term">NUCLEAR CHAIN REACTION</span> under the grandstands of <span class="term">STAGG FIELD</span> at the University of Chicago.</p>
<p>After this milestone, funds were allocated more freely, and the project advanced at breakneck speed. Nuclear facilities were built at Oak Ridge, Tennessee and Hanford, Washington. The main assembly plant was built at <span class="term">LOS ALAMOS, NEW MEXICO</span>. <span class="term">ROBERT OPPENHEIMER</span> was put in charge of putting the pieces together at Los Alamos. After the final bill was tallied, nearly $2 billion had been spent on research and development of the atomic bomb. The Manhattan Project employed over 120,000 Americans.</p>
<p>Secrecy was paramount. Neither the Germans nor the Japanese could learn of the project. Roosevelt and Churchill also agreed that the Stalin would be kept in the dark. Consequently, there was no public awareness or debate. Keeping 120,000 people quiet would be impossible; therefore only a small privileged cadre of inner scientists and officials knew about the atomic bomb's development. In fact, Vice-President Truman had never heard of the Manhattan Project until he became President Truman.</p>
<p>Although the Axis powers remained unaware of the efforts at Los Alamos, American leaders later learned that a Soviet spy named <span class="term">KLAUS FUCHS</span> had penetrated the inner circle of scientists.</p>
<p>.</p>]]></projectContents>
      </projectItem>
      <projectItem id="1095" key="1588b94e-0673-4651-b430-a45415b78fd3" parentID="1074" level="3" creatorID="0" sortOrder="4" createDate="2016-09-16T10:04:59" updateDate="2016-09-16T11:08:51" nodeName="New webshop in Viby J" urlName="new-webshop-in-viby-j" path="-1,1070,1074,1095" isDoc="" nodeType="1068" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1067" nodeTypeAlias="projectItem">
        <metaKeywords><![CDATA[webshop]]></metaKeywords>
        <metaDescription><![CDATA[A new webshop in Viby J]]></metaDescription>
        <projectStatus><![CDATA[Completed]]></projectStatus>
        <projectTitle><![CDATA[New webshop in Viby J]]></projectTitle>
        <projectContents><![CDATA[<p>Early in 1939, the world's scientific community discovered that German physicists had learned the secrets of splitting a uranium atom. Fears soon spread over the possibility of Nazi scientists utilizing that energy to produce a bomb capable of unspeakable destruction.</p>
<p>Scientists <span class="term">ALBERT EINSTEIN</span>, who fled Nazi persecution, and <span class="term">ENRICO FERMI</span>, who escaped Fascist Italy, were now living in the United States. They agreed that the President must be informed of the dangers of atomic technology in the hands of the Axis powers. Fermi traveled to Washington in March to express his concerns on government officials. But few shared his uneasiness.</p>
<p>Einstein penned a letter to President Roosevelt urging the development of an atomic research program later that year. Roosevelt saw neither the necessity nor the utility for such a project, but agreed to proceed slowly. In late 1941, the American effort to design and build an <span class="term">ATOMIC BOMB</span>received its code name — the <span class="term">MANHATTAN PROJECT</span>.</p>
<p>At first the research was based at only a few universities — Columbia University, the University of Chicago and the University of California at Berkeley. A breakthrough occurred in December 1942 when Fermi led a group of physicists to produce the first controlled <span class="term">NUCLEAR CHAIN REACTION</span> under the grandstands of <span class="term">STAGG FIELD</span> at the University of Chicago.</p>
<p>After this milestone, funds were allocated more freely, and the project advanced at breakneck speed. Nuclear facilities were built at Oak Ridge, Tennessee and Hanford, Washington. The main assembly plant was built at <span class="term">LOS ALAMOS, NEW MEXICO</span>. <span class="term">ROBERT OPPENHEIMER</span> was put in charge of putting the pieces together at Los Alamos. After the final bill was tallied, nearly $2 billion had been spent on research and development of the atomic bomb. The Manhattan Project employed over 120,000 Americans.</p>
<p>Secrecy was paramount. Neither the Germans nor the Japanese could learn of the project. Roosevelt and Churchill also agreed that the Stalin would be kept in the dark. Consequently, there was no public awareness or debate. Keeping 120,000 people quiet would be impossible; therefore only a small privileged cadre of inner scientists and officials knew about the atomic bomb's development. In fact, Vice-President Truman had never heard of the Manhattan Project until he became President Truman.</p>
<p>Although the Axis powers remained unaware of the efforts at Los Alamos, American leaders later learned that a Soviet spy named <span class="term">KLAUS FUCHS</span> had penetrated the inner circle of scientists.</p>
<p>.</p>]]></projectContents>
      </projectItem>
    </projectMain>
    <contactUsPage id="1101" key="c5fe6cf3-ea6d-4d6f-8c4f-e3d85be3296c" parentID="1070" level="2" creatorID="0" sortOrder="3" createDate="2016-09-16T11:36:17" updateDate="2016-09-16T11:36:40" nodeName="Contact us" urlName="contact-us" path="-1,1070,1101" isDoc="" nodeType="1100" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1096" nodeTypeAlias="contactUsPage">
      <metaKeywords><![CDATA[Contact]]></metaKeywords>
      <metaDescription><![CDATA[A form to contact us]]></metaDescription>
    </contactUsPage>
    <messageBoardPage id="1119" key="297074fe-05ba-4c90-93c0-58b20b5c4443" parentID="1070" level="2" creatorID="0" sortOrder="4" createDate="2016-09-22T15:49:02" updateDate="2016-09-22T15:49:02" nodeName="MessageBoard Page" urlName="messageboard-page" path="-1,1070,1119" isDoc="" nodeType="1116" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1115" nodeTypeAlias="messageBoardPage">
      <metaKeywords><![CDATA[MessageBoard, messages, board, board with messages]]></metaKeywords>
      <metaDescription><![CDATA[A page containing a board with messages from users]]></metaDescription>
      <message id="1125" key="bd51df33-e8e9-40b9-9491-8ba32f81c72d" parentID="1119" level="3" creatorID="0" sortOrder="2" createDate="2016-09-22T17:27:17" updateDate="2016-09-22T17:27:17" nodeName="Unknown" urlName="unknown" path="-1,1070,1119,1125" isDoc="" nodeType="1118" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="0" nodeTypeAlias="message">
        <msgbCreateDate>2016-09-22T17:27:00</msgbCreateDate>
        <msgbMessage><![CDATA[This is easy]]></msgbMessage>
        <msgbName><![CDATA[Unknown]]></msgbName>
      </message>
      <message id="1126" key="4cc47536-81e9-4878-aefe-5a7ae4913b2d" parentID="1119" level="3" creatorID="0" sortOrder="3" createDate="2016-09-22T17:27:51" updateDate="2016-09-22T17:27:51" nodeName="Another guy" urlName="another-guy" path="-1,1070,1119,1126" isDoc="" nodeType="1118" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="0" nodeTypeAlias="message">
        <msgbCreateDate>2016-09-22T17:27:00</msgbCreateDate>
        <msgbMessage><![CDATA[Is it though?]]></msgbMessage>
        <msgbName><![CDATA[Another guy]]></msgbName>
      </message>
      <message id="1128" key="04623e6b-6d81-412d-a46e-a5c32f019b54" parentID="1119" level="3" creatorID="0" sortOrder="4" createDate="2016-09-22T17:37:55" updateDate="2016-09-22T17:37:55" nodeName="Nemt" urlName="nemt" path="-1,1070,1119,1128" isDoc="" nodeType="1118" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="0" nodeTypeAlias="message">
        <msgbCreateDate>2016-09-22T17:37:00</msgbCreateDate>
        <msgbMessage><![CDATA[Nemt]]></msgbMessage>
        <msgbName><![CDATA[Nemt]]></msgbName>
      </message>
    </messageBoardPage>
    <textPage id="1141" key="6a6b7227-d3de-4549-8703-0f807988b7e7" parentID="1070" level="2" creatorID="0" sortOrder="6" createDate="2016-09-22T23:12:21" updateDate="2016-09-22T23:13:45" nodeName="Please hide this page" urlName="please-hide-this-page" path="-1,1070,1141" isDoc="" nodeType="1139" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1138" nodeTypeAlias="textPage">
      <metaKeywords><![CDATA[hide and nav]]></metaKeywords>
      <metaDescription><![CDATA[Hide]]></metaDescription>
      <bodyText><![CDATA[<p>hhrhrhrh</p>]]></bodyText>
      <umbracoNaviHide>1</umbracoNaviHide>
    </textPage>
    <textPage id="1144" key="7f5a3607-e665-4052-b64d-0746a06f8b76" parentID="1070" level="2" creatorID="0" sortOrder="7" createDate="2016-09-22T23:58:32" updateDate="2016-09-24T12:35:09" nodeName="Login" urlName="login" path="-1,1070,1144" isDoc="" nodeType="1139" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1137" nodeTypeAlias="textPage">
      <metaKeywords><![CDATA[Login]]></metaKeywords>
      <metaDescription><![CDATA[Login Page]]></metaDescription>
      <umbracoNaviHide>1</umbracoNaviHide>
      <hello>0</hello>
    </textPage>
    <textPage id="1152" key="167f5127-29bf-4953-a0cd-1a01616dc70a" parentID="1070" level="2" creatorID="0" sortOrder="8" createDate="2016-09-24T12:13:47" updateDate="2016-09-24T12:13:47" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1070,1152" isDoc="" nodeType="1139" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1138" nodeTypeAlias="textPage">
      <metaKeywords><![CDATA[Forbidden access, forbidden, access, restriction, permission]]></metaKeywords>
      <metaDescription><![CDATA[Not able to access this page]]></metaDescription>
      <umbracoNaviHide>1</umbracoNaviHide>
      <hello>0</hello>
      <bodyText><![CDATA[<p>You do not have access to this particular page. Please contact your administrator if this is a mistake.</p>
<p> </p>]]></bodyText>
    </textPage>
    <members id="1155" key="53d9ca23-2b67-4ecf-b3d7-da69e0bc18d1" parentID="1070" level="2" creatorID="0" sortOrder="9" createDate="2016-09-24T13:23:23" updateDate="2016-09-24T13:23:23" nodeName="Members" urlName="members" path="-1,1070,1155" isDoc="" nodeType="1154" creatorName="Jakob Bak" writerName="Jakob Bak" writerID="0" template="1153" nodeTypeAlias="members">
      <metaKeywords><![CDATA[Members, users, page]]></metaKeywords>
      <metaDescription><![CDATA[Members page]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
  </homePage>
</root>