@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TextPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<html>
	<head>
	<title>Title</title>
	</head>
	<body>
	<h1></h1>
	@Umbraco.Field("bodyText")
	</body>
	</html>